@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Rubik&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    padding: 0;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.footer{
    padding: 50px;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(22rem,1fr));
   gap: 1.5rem;

}
.footer .box-container .box{
    padding: .5rem 0;
    font-size: 20px;
    color: var(--black);
}

.footer .box-container .box a{
    display: block;
    padding: 5px 0;
    font-size: 18px;
    color: var(--light-color);
}
.footer .box-container .box a .facebook_icon{
    font-size: 40px;
}
.footer .box-container .box a:hover{
    color:var(--green)
}
.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 15px;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}
.footer .credit span{
    color: var(--green);
}